<%= form_for([topic,comment],remote: true) do |f| %>   <!-- remote: trueでAjyax使用 -->
  <%= f.hidden_field :topic_id %>
  <div class="field">
    <br>
    <%= f.text_field :content, placeholder: "コメント入力", class: "form-control"  %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br>
<% end %>
