<div class = "container">
  <div class = "row">
    <div class = "user-followed col-sm-4 col-sm-offset-1 col-xs-12">
      <%= render 'show_followed' %>
    </div>
    <div class = "user-followers col-sm-4 col-sm-offset-2 col-xs-12">
      <%= render 'show_followers' %>
    </div>
  </div>
</div>
